@tailwind base;
@tailwind components;
@tailwind utilities;

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "inter", sans-serif !important;
}

.react-calendar__tile--active {
  background-color: #9bc6ef !important;
  color: black !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600;
}

.rbc-btn-group:first-child{
  display: none !important;
}

.rbc-toolbar-label{
  text-align: right !important;
  padding: 0px 20px !important;
}

.rbc-btn-group:last-child{
  font-size: 13px !important;
}

.rbc-btn-group:last-child button{
  border: none !important;
  background-color: #ffb186 !important;
  margin-left: 2px !important;
}

.rbc-toolbar button.rbc-active{
  background-color: #EA5901 !important;
  box-shadow: none !important;
}

.rbc-time-view{
  border-color: #eee !important;
}

.rbc-time-content{
  border: none !important;
}
